<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    {% load widget_tweaks %}

    {% block conteudo %}
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Registrar Banca</h1>
        </div>

        <div class="card shadow mb-4">
            <div class="card-body">
                <h4 class="mb-3 text-primary">
                    Formulário para registro de novo bilhete
                </h4>
                <p class="mb-5 ml-1">
                    <small>
                        O asterisco (*) indica que os campos são obrigatórios
                    </small>
                </p>


                <div class="alert alert-warning" role="alert">

                </div>

                <form method="post">
                    <div class="form-row">

                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group col-md-12">
                            <label>{{ field.label }} {% if field.field.required%} * {% endif %}</label>
                            {% render_field field placeholder=field.label class="form-control" %}
                        </div>
                        {% endfor %}

                        <div class="form-group col-md-12">
                            <label></label>

                        </div>

                    </div>
                    <div class="text-right">
                        <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                            <span class="text">Cancelar</span>
                        </a>
                        <button class="bn btn-primary" type="sumit">
                            <span class="text">Registrar Banca</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock conteudo %}
</body>

</html>